body {
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
    background-color: #d7c3ae;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 20px;
    height: 5vh;
    background-color: #856645;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    width: 50px;
    margin-left: 5px;
}

h1 {
    margin: 0px;
    font-size: 40px;
    color: #020826;
}

a {
    margin-left: 15px;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #020826;
}

a:hover {
    color: #2a3361;
}